.contact {
  padding: 30px;
}

.contactForm {
  display: flex;
}

.contactForm__left {
  border: 2px solid black;
  padding: 10px;
  margin: 10px;
  height: 25rem;
}

.contactForm__left textarea {
  padding: 10px;
  font-size: 15px;
}

.contactForm__left input {
  padding: 10px;
  font-size: 15px;
}

form textarea {
  margin: 15px 0;
}

.data input {
  justify-content: space-between;
}

.subject {
  margin-top: 15px;
  width: 95%;
}

.send {
  border: 2px solid #ff3300;
  padding: 13px;
  font-size: 15px;
  margin-top: 15px;
  background-color: white;
  border-radius: 6px;
  width: 17%;
}
.contactForm__right {
  border: 2px solid black;
  margin: 10px;
  padding: 10px;
  height: 20rem;
}
